################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/omninotes/.vs
/.vs/OmniApps/v15
/omninotes/OmniNotesApi/bin*
/omninotes/OmniNotesContracts/bin*
/omninotes/OmniNotesCore/bin/*
/omninotes/OmniNotes-IntegrationTests/bin/*
/omninotes/OmniNotesModels/bin/*
/omninotes/OmniNotes-UnitsTests/bin/*
/omninotes/OmniNotesWebApp/bin/*
/OmniNotesApi/bin*
/OmniNotesContracts/bin/*
/OmniNotesCore/bin/*
/OmniNotes-IntegrationTests/bin/*
/OmniNotesModels/bin/*
/OmniNotes-UnitsTests/bin/*
/OmniNotesWebApp/bin/*
/omninotes/OmniNotesWebApp/node_modules
