################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/omninotes/.vs
/.vs/OmniApps/v15
